
input::placeholder {

  color: black;
  font-style: italic;

};

div {
  width: 200px; float: left;
}
ul{
  width: auto;
}
li{
  width: auto;
}
span {
  text-align: center;
  display:inline-block; width:100px;margin:10px; border: 1px solid black; 
}
.toDo_text{
  text-align: center;
  display:inline-block; width:400px;margin:10px; border: 1px solid black; 
}
li {
  margin:10px;
}

